absl-py==2.3.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
datasets==4.0.0
dill==0.3.8
filelock==3.18.0
fire==0.7.0
frozenlist==1.7.0
fsspec==2025.3.0
hf-xet==1.1.7
huggingface-hub==0.34.4
idna==3.10
Jinja2==3.1.6
joblib==1.5.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mlx==0.28.0
mlx-lm==0.26.3
mlx-metal==0.28.0
multidict==6.6.3
multiprocess==0.70.16
nltk==3.9.1
numpy==2.3.2
packaging==25.0
pandas==2.3.1
propcache==0.3.2
protobuf==6.31.1
pyarrow==21.0.0
Pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
regex==2025.7.34
requests==2.32.4
rich==14.1.0
rouge_score==0.1.2
safetensors==0.6.2
scikit-learn==1.7.1
scipy==1.16.1
six==1.17.0
termcolor==3.1.0
threadpoolctl==3.6.0
tiktoken==0.11.0
tokenizers==0.21.4
tqdm==4.67.1
transformers==4.55.0
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
xxhash==3.5.0
yarl==1.20.1
